/* < !-- DESIGN INSPIRED ON META FACEBOOK,
NOT FOR COMMERCIAL PURPOSES. CODED BY DAN ESPINO --> */
body{
    background-color: #212121;
    overflow: hidden;
}

#preloader{
    background: #313131 no-repeat center center;
    background-size: 100%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1021;
    text-align: center;
}

#preloader-logo{
    margin-top: 10%;
}

#eyeglass{
    animation: eyerotate 1s infinite linear;
    transform-origin: center;
}

@keyframes eyerotate {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

#preloader span{
    color:#FEFEFE;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 5vh;
    position: fixed;
    bottom: 10%;
    margin-left: -5%;
}

#page-container{
    position: relative;
    z-index: 0;
}

#profile_name{
    color: #FEFEFE;
    font-weight: 700;
    font-size: 2em;
    position: relative;
    z-index: 10;
    margin-top: 10px;
}

.actions-bar hr{
    border-color: #727272;
    border-width: 2px;
}

i{
    padding-right: 5px;
}

.box-content{
    width: 100%;
    border-radius: 0.25em;
    margin-bottom: 10px;
    background: #313131;
    padding: 20px;
}

.box-content h3, .box-content h4{
    color: #FEFEFE;
    font-size: 1em;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.post{
    width: 100%;
    border-radius: 0.35em;
    margin-bottom: 10px;
    background: #313131;
    padding: 20px;
}

.postowner{
    font-size: 1.15em;
    color: #727272;
    font-weight: 700;
    margin-left: 5px;
    position: relative;
    top:-5px;
}

.postime{
    position: relative;
    top:-35px;
    left:63px;
    font-size: 0.95em;
    color: #727272;
}

.post-content{
    color: #FEFEFE;
    position: relative;
    top:-20px;
}

.box-content .nav.nav-tabs {
    float: left;
    display: block;
    margin-right: 20px;
    width: 30%;
    border-bottom: 0;
    border-right: 3px solid #ddd;
    padding-right: 15px;
}

.box-content .nav-tabs .nav-link {
    border: 1px solid #FEFEFE;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #495057;
}

.box-content .nav-tabs .nav-link.active {
    color: #727272;
    border-color: transparent !important;
}

.box-content .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0rem !important;
    border-top-right-radius: 0rem !important;
}

.box-content .tab-content>.active {
    display: block;
    float: right;
    width: 66%;
    color: #FEFEFE;
    background: #313131;
    padding: 15px;
    margin-bottom: 10px;
}

.tab-content i{
    font-size: 1.45em;
    padding-right: 2%;
    margin: 10px 0px 5px 0px;
}

.titlesection{
    font-size: 1.45em;
    margin-bottom: 2px;
}

.elsection{
    font-size: 1.25em;
}

.eldesc{
    margin-left: 50px;
    margin-top: -25px;
}

.box-content .nav.nav-tabs {
    float: left;
    display: block;
    margin-right: 20px;
    border-bottom: 0;
    border-right: 1px solid transparent;
    padding-right: 15px;
}

.box-content .rounded-circle{
    width: 42px;
    height: 42px;
    border: 2px solid #727272 !important;
    margin: 5px;
}

/* 346 x 941 */
@media (max-width:575px){
    #page-container, .row{
        margin: 0px !important;
        padding: 0px !important;
    }

    .profile-header{
        margin: 0px !important;
        padding: 0px !important;
    }

    .profile-header-photo{
        width: 100%;
        height: 360px;
        overflow: hidden;
        position: relative;
        z-index: 0;
    }
    
    .profile-header-photo > img{
        position:absolute;
        left: -135%;
        right: -100%;
        top: -125%;
        bottom: -100%;
        margin: auto;
        min-height: 100%;
        min-width: 100%;
    }

    .profile-photo{
        position: relative;
        z-index: 10;
        top:-150px;
        margin-bottom: -150px;
    }
    
    .profile-pic{
        width: 50%;
        height: auto;
    }

    .box-content .nav.nav-tabs {
        width: 100%;
        margin-bottom: 10px;
    }

    .box-content .tab-content>.active {
        float: left;
        width: 100%;
        display: block;
        margin: 0px;
    }
}

@media (min-width:800px){
    .profile-header-photo {
        width: 100%;
        height: 345px;
        overflow: hidden;
        position: relative;
        z-index: 0;
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }

    .profile-header-photo>img {
        position: absolute;
        left: -105%;
        right: -100%;
        top: -77%;
        bottom: -85%;
        margin: auto;
        min-height: 100%;
        min-width: 100%;
        border: 1px solid transparent;
    }
    
    .profile-photo {
        position: relative;
        z-index: 10;
        top: -150px;
        margin-bottom: -150px;
    }
    
    .profile-pic {
        width: 20%;
        height: auto;
    }
}