@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html:not(.dark) body { 
    background-color: #ffffff !important;
    color: #000 !important;
}
html.dark body { 
    background-color: #0b0b0b !important; 
    color: #F5F5F5 !important;
}